<!DOCTYPE html>
<html>

<head>
  <title>Roux Meetups--Speaker Info</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=block" rel="stylesheet">
</head>

<body>
  <header>
    <div class="jumbotron d-none d-sm-block"></div>
    <nav class="navbar navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar-collapse"
          aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
          &#x2630;</button> <a href="./index.html" class="navbar-brand">Roux Meetups</a>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item"> <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item dropdown"> <a href="/speakers" class="nav-link dropdown-toggle"
                id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                Speakers

              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <a class="dropdown-item"
                  href="./speakers.html">All Speakers</a>
                <div class="dropdown-divider"></div>
                <% for(let i=0; i<speakerShortList.length; i++){ %>
                  <a class="dropdown-item" href="/speakers/<%= speakerShortList[i].shortname%>"><%=speakerShortList[i].name%></a>
                <% } %>
              </div>
            </li>
            <li class="nav-item"> <a href="/feedback" class="nav-link">Feedback</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-8">
        <article class="speakerslist maincontent">

          <h1 class="speakerslist-title"><%= speakerDetail.title %></h1>
          <div class="speakerslist-name">with
            <a href="/speakers/<%= speakerDetail.shortname %>"><%= speakerDetail.name %></a>
          </div>
          <p class="speakerslist-info mt-2"> <a href="/speakers/<%= speakerDetail.shortname %>">
            </a>
            <img class="speakerslist-img img-fluid" src="/images/speakers/<%= speakerDetail.shortname %>.jpg"
              alt="Photo of <%= speakerDetail.name %>">
          </p>
          <%- speakerDetail.description %>
          <p></p>

        </article>
      </div>
      <aside class="col-md-4">
        <article class="sidebar">
          <h1 class="sidebar-title">Artwork on display</h1>
          <p class="sidebar-body">While you attend the conference, head over to our gallery where you can
            check out some of the work from our speakers.</p>
          <div class="pixgrid clearfix">
            <% for(let i=0; i<speakerArtworks.length; i++){ %>
              <img src="/images/artwork/<%= speakerArtworks[i] %>" alt="Artwork <%=i%>">
            <% } %>
          </div>
        </article>
      </aside>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="/js/pixgrid.js"></script>
</body>

</html>